form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:  25px;
    margin-bottom: 50px;
    border-radius: var(--curve-border);
    -webkit-border-radius: var(--curve-border);
    -moz-border-radius: var(--curve-border);
    -ms-border-radius: var(--curve-border);
    -o-border-radius: var(--curve-border);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form h1{
    text-align: center;
    font-size: 2.5rem;
}
form label{
    font-size: 1.3rem;
    font-weight: bold;
}
form input{
    padding: 15px 20px;
    border-radius: var(--curve-border);
    -webkit-border-radius: var(--curve-border);
    -moz-border-radius: var(--curve-border);
    -ms-border-radius: var(--curve-border);
    -o-border-radius: var(--curve-border);
    background-color: var(--bg-input);
}
form input[type="text"]{
    border: 1px solid var(--bg-input);
    font-size: 1.2rem;
}
form input[type="submit"]{
    background-color: var(--success-light-color);
    border-color: var(--success-light-color);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: var(--success-dark-color);
    border-color: var(--success-dark-color);
}
