
.container-btn{
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
}
.container-btn input{
display: none;
}
.container-btn .switch{
padding: 20px;
border-radius: var(--curve-border);
-webkit-border-radius: var(--curve-border);
-moz-border-radius: var(--curve-border);
-ms-border-radius: var(--curve-border);
-o-border-radius: var(--curve-border);
font-size: 1.2rem;
font-weight: bold;
transition: 0.3s all;
-webkit-transition: 0.3s all;
-moz-transition: 0.3s all;
-ms-transition: 0.3s all;
-o-transition: 0.3s all;
}
