*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-light-color: #ecf0f1;
  --font-light-color: #ecf0f1;
  --main-dark-color: #2c3e50;
  --font-dark-color: #2c3e50;
  --success-light-color: #2ecc71;
  --success-dark-color: #27ae60;
  --delete-light-color: #e74c3c;
  --delete-dark-color: #c0392b;
  --bg-input: #bdc3c7;
  --curve-border: 3px;
}
body{
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: linear-gradient(to right, #487eb0 , var(--main-light-color));
  font-family: 'Changa', sans-serif;
}